/* Q1. */
p{
    color: blue;
    background-color: lightgrey;
    
}
/* Q2 */
.box{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    
}

#title{
    color: green;
    text-align: center;
}
/* Q3 and Q4 */
div{
    width: 250px;
    margin: 20px;
    border: 3px solid black;
    padding: 15px;
    box-sizing: border-box;
}
/* Q5 */
h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
/* Q6 */
body{
    font-family: 'Poppins', 'Roboto', Arial, sans-serif;
    font-size: 16px;
}
/* Q7 */
a{
    text-decoration: none;
}
a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
/* Q8 */
p{
    color: rgb(255, 0, 0)
}
h1{
    background-color: rgb(0,0,0);
}
/* Q9 */
.card{
    padding: 10px 20px;
    margin: 15px 30px;
}
/* Q10 */
.box2 {
    width: 200px;
    height: 100px;
    overflow: auto;
    border: 1px solid black;
}