/* Q1 */
span{
    width: 100px;
    display: inline;
}
/* Q2 */
div{
    width: 200px;
    height: 50px;
    display: block;
}
/* Q3 */
.box{
    width: 150px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}
/* Q4 */
.invisible1{
    visibility: hidden;
}
.invisible2{
    display: none;
}
/* Q5 */
.box101{
    width: 200px;
    height: 200px;
    background-color: rgba(255,0,0,0.5);
}
/* Q6 */
.container{
    opacity: 0.5;
}
.box102{
    background-color: red;
}
.box103{
    background-color: blue;
}
.box104{
    background-color: green;
}
